root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

[*.sln]
indent_style = tab
indent_size = 4

[*.cs]
indent_size = 4
tab_width = 4

[*.sh]
end_of_line = lf

[*.{cmd,bat}]
end_of_line = crlf
