name: Mark stale issues

on:
  schedule:
  - cron: "0 */12 * * *"

jobs:
  stale:
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
    - uses: actions/stale@v3
      env:
        ACTIONS_STEP_DEBUG: true
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        stale-issue-message: "In order to consolidate to fewer feedback channels, we've moved suggestions and issue reporting to [Developer Community](https://developercommunity.visualstudio.com/spaces/21/index.html)."
        stale-issue-label: 'redirect-to-dev-community'
        exempt-issue-labels: 'bug'
        days-before-stale: 1
        days-before-close: 1
        days-before-pr-close: -1
        operations-per-run: 30
        enable-statistics: true
